body {
    padding: 10px;
}

.card {
    margin: 10px;
}

.card .card-text p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card .card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.card img {
    aspect-ratio: 16/9;
    object-fit: cover;
}

#narrow {
    max-width: 512px;
}

.card {
    margin: 0;
}