body {
    padding: 10px;
}

.card {
    margin: 10px;
}

.card .card-text p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card .card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.card img {
    aspect-ratio: 16/9;
    object-fit: cover;
}

#narrow {
    max-width: 512px;
}

.card {
    margin: 0;
}

.nav {
    padding: 5px;
}

.nav > a {
    font-weight: 600;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

.nav > a:hover {
    font-weight: 700;
}

.nav > a::before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}