{% extends "auctions/layout.html" %}

{% block title %}
    Auction Categories
{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ title }}</h2>
        <div class="row mt-3">
            {% for category in categories %}
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}</h5>
                            <div class="card-text">
                                <p class="card-text">{{ category.description }}</p>
                                <div class="row">
                                    <div class="col">
                                        {% if category.listings.count > 0 %}
                                            <a href="{% url 'view_category' category.id %}" class="btn btn-primary"
                                               style="display: block">View Category</a>
                                        {% else %}
                                            <a href="{% url 'view_category' category.id %}"
                                               class="btn btn-primary disabled"
                                               style="display: block">View Category</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}