{% extends "auctions/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}


{% block body %}
    <div class="container">
        <h2>{{ title }}</h2>

        <div class="row mt-3">
            {% for listing in listings %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card shadow">
                        {% if listing.image_url %}
                            <div class="rounded-top" style="
                            height: 100%;
                            width: 100%;
                            background-image: url('{{ listing.image_url }}');
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            padding-top: 56.25%;"></div>
                        {% else %}
                            <div class="rounded-top" style="
                            height: 100%;
                            width: 100%;
                            background-image: url('https://i.imgur.com/eeImLXD.png');
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            padding-top: 56.25%;"></div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title }}</h5>
                            <div class="card-text">
                                <p class="card-text">{{ listing.description }}</p>
                                <div class="row">
                                    <div class="col">
                                        <a href="{% url 'view_listing' listing.id %}" class="btn btn-primary">View
                                            Listing</a>
                                    </div>
                                    <div class="col text-end my-auto" style="font-size: x-large; font-weight: bold">
                                        ${{ listing.current_price }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}