{% extends "auctions/layout.html" %}

{% block title %}
    Auction Listing
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row ">
            <div class="mb-2 fs-1 fw-bold">
                {{ listing.title }}
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-6 col-sm-12">
                <div class="rounded" style="
                        height: 100%;
                        width: 100%;
                        background-image: url('{{ listing.image_url }}');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;">
                    {% if listing.image_url %}
                        <!--<img src="{{ listing.image_url }}" alt="Listing Image">-->
                    {% else %}
                        <img src="https://i.imgur.com/eeImLXD.png" alt="Listing Image"
                             style="object-fit: cover;width: -webkit-fill-available;">
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="mb-1" style="font-weight: bold">
                    Description:
                </div>
                <div class="mb-3">
                    {{ listing.description }}
                </div>
                <div class="mb-3 fw-light">
                    <ul>
                        <li>Listed by: {{ listing.user.username }}</li>
                        <li>Category: {{ listing.category }}</li>
                    </ul>
                </div>
                <div class="fs-1 fw-bold">
                    ${{ listing.current_price }}
                </div>
                <div class="mb-3 text-muted">
                    {{ listing.bids.all.count }} bids so far.
                    {% if listing.bids.all.count > 0 and listing.bids.last.user == user %}
                        Your bid is the current highest.
                    {% endif %}
                </div>
                <div class="mb-3">
                    {% if is_watched %}
                        <a href="{% url 'add_to_watchlist' listing.id %}" class="btn btn-secondary">Remove from
                            Watchlist</a>
                    {% else %}
                        <a href="{% url 'add_to_watchlist' listing.id %}" class="btn btn-secondary">Add to Watchlist</a>
                    {% endif %}
                </div>
                {% if listing.is_active %}
                    <div class="mb-3">
                        {% if listing.user != user %}
                            <form action="{% url 'bid' listing.id %}" method="POST">
                                {% csrf_token %}
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input type="number" step=".01" min="{{ listing.current_price }}" name="amount"
                                           class="form-control"
                                           aria-label="Amount (to the nearest dollar)">
                                    <button type="submit" class="btn btn-primary">Place Bid</button>
                                </div>
                                {% if form.amount.errors %}
                                    <div class="text-danger">
                                        {% for error in form.amount.errors %}
                                            <small>{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </form>
                        {% else %}
                            <a href="{% url 'close_listing' listing.id %}" class="btn btn-danger">Close Listing</a>
                        {% endif %}
                    </div>
                {% elif listing.bids.all.count > 0 and listing.bids.last.user == user %}
                    <div class="alert alert-success" role="alert">
                        You have won this auction!
                    </div>
                {% endif %}
                <form action="{% url 'add_comment' listing.id %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="comment" class="form-label">Comment:</label>
                        <textarea class="form-control" id="comment" name="comment" rows="5"></textarea>
                        {% if form.comment.errors %}
                            {% for error in form.comment.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button class="btn btn-primary" type="submit">Add Comment</button>
                </form>
            </div>
        </div>
        <div class="row">
            {% for comment in listing.comments.all %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <div class="card-group shadow-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ comment.user }}</h5>
                                <p class="card-text">{{ comment.content }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ comment.timestamp }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}